// Date
document.getElementById("date").innerText =
  new Date().toLocaleDateString("ne-NP");

// Leaflet Map (Udaypur approx center)
var map = L.map('map').setView([26.8, 86.7], 10);

// Base map
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
  .addTo(map);

// OPTIONAL: GeoServer WMS (replace with your server)
var wmsLayer = L.tileLayer.wms("https://your-server/geoserver/napi/wms", {
  layers: "napi:parcels",
  format: "image/png",
  transparent: true
}).addTo(map);

// Auto refresh map (live feel)
setInterval(() => {
  wmsLayer.setParams({ _t: Date.now() });
}, 5000);


// Queue (demo - later API)
async function loadData() {
  const data = {
    current: "A-105",
    next: "A-106"
  };

  document.getElementById("current").innerText = data.current;
  document.getElementById("next").innerText = data.next;
}

// refresh queue
setInterval(loadData, 5000);
loadData();
